registry=https://jfrog.tapsi.doctor/artifactory/api/npm/npm/
//jfrog.tapsi.doctor/artifactory/api/npm/npm/:_auth=QWxpekAxMjM=
//jfrog.tapsi.doctor/artifactory/api/npm/npm/:username=admin
//jfrog.tapsi.doctor/artifactory/api/npm/npm/:email=test@test.com
//jfrog.tapsi.doctor/artifactory/api/npm/npm/:always-auth=true