# Set the registry to your JFrog Artifactory npm repository
registry=https://jfrog.tapsi.doctor/artifactory/npmjs.org/

# Always authenticate when accessing the registry
always-auth=true

# Your email address for npm publishing
email=test@test.com

# Additional authentication settings
//jfrog.tapsi.doctor/artifactory/npmjs.org/:_password=QWxpekAxMjM=
//jfrog.tapsi.doctor/artifactory/npmjs.org/:username=admin
//jfrog.tapsi.doctor/artifactory/npmjs.org/:email=test@test.com
//jfrog.tapsi.doctor/artifactory/npmjs.org/:always-auth=true