# Set the registry to your JFrog Artifactory npm repository
registry=https://jfrog.tapsi.doctor/artifactory/api/npm/npmjs.org/

# Always authenticate when accessing the registry
always-auth=true

# Your email address for npm publishing
email=test@test.com

# Authentication using Basic Auth (base64)
//jfrog.tapsi.doctor/artifactory/api/npm/npmjs.org/:_auth=YWRtaW46QWxpemAxMjM=