@import '../public/fonts/Vazirmatn-font-face.css';
@import './styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Vazirmatn, sans-serif;
  background-color: #dadada;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rmdp-calendar-container-mobile {
  z-index: 9999 !important;
}

input {
  outline: none;
  box-shadow: 0 0 0px 1000px rgb(234 237 237 / var(--tw-bg-opacity)) inset !important;
}
