
.odOtpContainer {
    direction: ltr;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    font-family: inherit;
    text-align: center;
  }
  
  .odOtpContainer .otpInput {
    outline: none !important;
    border: none;
    background-color: transparent;
    max-width: 16.6666%;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    border-right: 1px solid #e7e7e7;
  }
  
  .odOtpContainer .otpInput:last-child {
    border-right: 0;
  }